<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="STANDARD_LOG_PATTERN" value="%d %green([%thread]) %highlight(%level) %logger{50} - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>${STANDARD_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>